.theadTitle{
    font-family:sans-serif;
    font-size:14px;
    font-weight: 600;
    color:#4C117B
}

.sortButton{
    border:none;
    background-color: #FFFF;
}

.publishedButton{
    width: 200px;
    height: 35px;
    border-color: rgba(32, 201, 151, 1);
    border: solid 2px;
    background-color: #FFFF;
    color: rgba(32, 201, 151, 1);
    font-family: sans-serif;
    font-size: 14px;
}

.menuPoints{
    border:none;
    background-color: #FFFF;
}


