.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rightSection{
    display: flex;
    align-items: center;
}

.titleSpan{
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.tittleWrapper{
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}

.loadProductButton{
    width: 193px;
    height: 42px;
    border-radius: 5px;
    border-color: #5B00A2;
    background-color: #5B00A2;
    padding: 10px, 23px, 10px, 23px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #FFFF;
    margin-left: 20px;
}

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.num{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    color: #5E5873;
}

.optionNum{
    width: 91px;
    height: 42px;
    border-radius: 4px;
    border-color:#D8D6DE;
}

.searchInput{
    width: 60%;
    height: 42px;
    border-radius: 4px;
    border-color:#D8D6DE;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    color:black;
}


.filterButton{
    border:none;
    background-color: #FFFF;
}
